#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms, transform 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  transform: scale(1.05);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  transform: scale(1.05);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 1.5rem 0;
}

.read-the-docs {
  color: #888;
  font-size: 1.2rem;
}

.track-item {
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.track-item:hover {
  background-color: #555;
  cursor: pointer;
}

.details-container {
  background-color: #983b05;
  padding: 20px;
  border-radius: 8px;
  margin: 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1.5rem;
  background-color: #222;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

label {
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
}

input, textarea {
  padding: 12px;
  border: 1px solid #444;
  background-color: #333;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #61dafb;
  background-color: #444;
}

input::placeholder, textarea::placeholder {
  color: #bbb;
}

button {
  background-color: #ba4705;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  margin: 5px;
}

button:hover {
  background-color: #ed4444;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  .card {
    padding: 1.5em;
  }

  form {
    padding: 1rem;
  }

  button {
    padding: 10px 15px;
  }
}
